Matthias Sohn <matthias.sohn@sap.com> <joe@dev.org>
Matthias Sohn <matthias.sohn@sap.com> <joe@jdev.org>
Matthias Sohn <matthias.sohn@sap.com> <john.doe@example.org>
Matthias Sohn <matthias.sohn@sap.com> <john.do@xyz.org>
Matthias Sohn <matthias.sohn@sap.com> <john.doe@xyz.org>